<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Drug</title>
</head>
<script>
    window.onbeforeunload = function(event) {
        event.returnValue = "Are you sure you want to leave?";
        return Promise.resolve("Dummy response to keep the console quiet");
    };
</script>
<body>
<form action="/newDrug" method="POST">
    <label>
        <input type = "hidden" value = "{{.Id}}" name = "id" />
    </label>
    <label>
        <input type = "hidden" value = "{{.Ndc}}" name = "oldNdc" />
    </label>
    If the following NDC was entered incorrectly, please correct it and submit. Do not submit other data.

    <br><br>
    <label>
        Check NDC: <input type="text" name="ndc" value = {{.Ndc}} /><br><br>
    </label>
    <label>
        Name: <input type="text" name="name"/> <br><br>
    </label>
    <label>
        Form: <input type="text" name="form"/><br><br>
    </label>
    <label>
        Item Number: <input type="text" name="item_num"/><br><br>
    </label>
    <label>
        Package Size: <input type="text" name="pkgSize"/><br><br>
    </label>
    <button type="submit">Submit</button>
</form>
{{.Error}}
</body>
</html>