<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit</title>
</head>
<body>
<form action="/audit" method="POST">
    Pharmacist: <input type="text" name="pharmacist"></br></br>
    Log Month: <input type="text" name = "month" /></br></br>
    Log Day: <input type="text" name = "day" /></br></br>
    Log Year: <input type="text" name = "year" /></br></br>
    Audit Month: <input type="text" name = "amonth" /></br></br>
    Audit Day: <input type="text" name = "aday" /></br></br>
    Audit Year: <input type="text" name = "ayear" /></br></br>
    Quantity: <input type="text" name = "qty" /></br></br>
    UDC: <input type="text" name = "udc" /></br></br>
    <button type="submit">Submit</button>
</form>
</body>
</html>