<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Shoppe C2 Form</title>
    <link rel="stylesheet" type="text/css" href="/web/assets/databaseStyle.css"/>
</head>
<body>
    <img id = "logo" src = "/web/assets/logo.png" alt="" />
    <h1> Medicine Shoppe C2 Form </h1>
    </br>
    <div id = "navigation">
        <div id = "signout"> <a href= "/signout"> Sign Out </a> </div>
    </div>
    <div id = "buttons">
        </br>
        <script type="text/javascript">
            // Popup window code
            function newPopup(url) {
                popupWindow = window.open(
                        url,'popUpWindow','height=450,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
            }
        </script>
        <button type = "button" onclick="newPopup('/prescription')">New Prescription</button>
        <button type = "button" onclick="newPopup('/audit')">New Audit</button>
        <button type = "button" onclick="newPopup('/purchase')">New Purchase</button>
    </div>
    <div>
        </br>
        <form id = "search" action="/database" method="POST">
            NDC: <input type="text" name = "ndc" />
            <br/><br/>
            <button type="submit">Submit</button>
        </form>
        </br>
        <table>
            <tr id = "header"><th>Info</th><th>Pharmacist</th><th>Script/Type</th><th>Quantity</th><th>Date</th></tr>
        {{range .}}
            <tr><td><button id = "info" type="button"  onclick="newPopup('/audit')" >INFO</button></td>{{range rangeStruct .}}<td>{{.}}</td>{{end}}</tr>
        {{end}}
        </table>
    </div>
</body>
</html>