<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Shoppe C2 Form</title>
    <link rel="stylesheet" type="text/css" href="/web/assets/databaseStyle.css"/>
</head>
<body>
<img id="logo" src="/web/assets/logo.png" alt=""/>
<h1> Medicine Shoppe C2 Form </h1>
<br>
<script>
    // Popup window code
    function newPopup(url) {
        window.open(
            url, 'popUpWindow', 'height=450,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
</script>
<!-- <div id = "navigation">
    <div id = "signout"> <a href= "/SignOut"> Sign out</a> </div>
</div> Put this back in with the login feature -->
<div id="buttons">
    <br>
    <button type="button" onclick="newPopup('/prescription')">New Prescription</button>
    <button type="button" onclick="newPopup('/audit')">New Audit</button>
    <button type="button" onclick="newPopup('/purchase')">New Purchase</button>
    <button type="button" onclick="newPopup('/edit')">Edit Order</button>
    <button type="button" onclick="newPopup('/delete')">Delete Order</button>
    <button type="button" onclick="newPopup('/writeExcel')">Write to Excel</button>
</div>
<div id="content">
    <br>
    <form id="search" action="/database" method="POST">
        <label>
            NDC: <input type="text" name="ndc"/>
        </label>
        <br/><br/>
        <button type="submit">Submit</button>
    </form>
    <br>
    <h3>Drug: {{.Name}} &emsp;&ensp; NDC: {{.Ndc}} &emsp;&ensp; Package Size: {{.Size}}</h3>
    <h4>Form: {{.Form}} &emsp;&ensp; Item Number: {{.ItemNum}} &emsp;&ensp; Initial Date: {{.Date}}</h4>
    <h2> Current Quantity: {{.Qty}}</h2> <br>
    <button type="button" onclick="newPopup('/editDrugGetNdc')">Edit Drug </button>  <br>
</div> <br>
<div>
    <table id="table">
        <tr id="header">
            <th>Pharmacist</th>
            <th>Script#/Invoice#</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        {{range .Orders}}
            <tr id="{{.AcType}}">
                <td>{{.AcPharmacist}}</td>
                <td>{{.AcScript}}</td>
                <td>{{.AcType}}</td>
                <td>{{.ArQty}}</td>
                <td>{{.AcMonth}}-{{.AcDay}}-{{.AcYear}}</td>
            </tr>
        {{end}}
    </table>
</div>
</body>
</html>