<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="/edit" method="POST">
    <label>
        Pharmacist: <input type="text" name="pharmacist"><br><br>
    </label>
    <label>
        Date: <input type="text" name="date"/><br><br>
    </label>
    <label>
        Script/Invoice: <input type="text" name="script"><br> Note: This field should be left blank for Audits<br><br>
    </label>
    <label>
        Type: <input type="text" name="type"><br>Note: This field can be left blank for Prescriptions and Purchases<br><br>
    </label>
    <label>
        NDC: <input type="text" name="ndc"/><br><br>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>