<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine Shoppe C2 Form</title>
</head>
<body id = "page">
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <img id = "logo" src = "/assets/logo.png" alt="" />
    <h1> Medicine Shoppe C2 Form </h1>
    <div id = "navigation">
        <div id = "login">
            <a href= "/login"> Login </a>
            <div id = "register"><a href= "/register"> Register </a></div>
        </div>

    </div>
    <div id = "Help">
        This page is going to be used as the homepage to the
        new Medicine Shoppe C2 form
    </div>

</body>
</html>