<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Drug</title>
</head>
<body>
<form action="/newDrug" method="POST">
    Reenter NDC: <input type="text" name="ndc" /></br></br>
    Name: <input type="text" name="name" /> </br></br>
    Form: <input type="text" name = "form" /></br></br>
    Item Number: <input type="text" name = "itemnum" /></br></br>
    Package Size: <input type="text" name = "pkgsize" /></br></br>
    <button type="submit">Submit</button>
</form>
</body>
</html>