<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription</title>
</head>
<body>
<form action="/prescription" method="POST">
    Pharmacist: <input type="text" name="pharmacist"></br></br>
    Script: <input type="text" name="script"></br></br>
    Order Month: <input type="text" name = "month" /></br></br>
    Order Day: <input type="text" name = "day" /></br></br>
    Order Year: <input type="text" name = "year" /></br></br>
    Quantity: <input type="text" name = "qty" /></br></br>
    UDC: <input type="text" name = "udc" /></br></br>
    <button type="submit">Submit</button>
</form>
</body>
</html>