<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/web/assets/registerStyle.css"/>
</head>
<body>
    <img id = "logo" src = "/web/assets/logo.png" alt="" />
    <h1>Register</h1>
    <br>
    <div id = "home"> <a href= "/"> Return Home </a> </div>
    <br>
    <form action="/register" method="POST">
        <label>
            Username: <input type="text" name = "uName" />
        </label>
        <label>
            Password: <input type="password" name = "password" />
        </label>
        <br/> <br/>
        <button type="submit">Register</button>
    </form>
    {{if .}}
        <h3> {{.}}</h3>
    {{end}}
</body>
</html>